.login {
    background-color: black;
    width: 360px;
    margin: auto;
}

.logo {
    width: 100%;
    height: 245px;
    background-image: url("/assets/backgrounds/logo.png");
    background-repeat: no-repeat;
    background-position: center;
}
mat-list{

}

.mat-raised-button, .mat-button {

}
form{

}
.mat-form-field{

}

  
