.login {
    background-image: url("/assets/backgrounds/Untitled.png");
    background-color: black;
    width: 360px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title-quiz{
    position: absolute;
    background-image: url(/assets/backgrounds/quiz.png);
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    width: 360px;
    top: 150px;
}

.logo {
    width: 100%;
    height: 245px;
    background-image: url("/assets/backgrounds/logo.png");
    background-repeat: no-repeat;
    background-position: center;
}