/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
body, html{
    margin: 0px !important;
    width: 100% !important;
    height: 100% !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    background: -webkit-linear-gradient(#ceedfc, #fc830b) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: #ffffff00 !important;
    font-weight: 700;
    font-size: 19px;
    padding-left: 3px;
}
.mat-form-field-flex{
    border-bottom: 1px solid white;
}

.input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
    background-color: black !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}
.mat-form-field-infix {
    margin-bottom: 1px;
    width: 100% !important;
    border: 1px solid white;
    border-radius: 7%;
}
.mat-list-item-content{
    flex-direction: column !important;
}
.mat-raised-button[disabled][disabled] {
    background-color: #4267b2 !important;
}
.mat-raised-button{
    width: 100%;
    color: white;
}
.mat-input-element{
    color: white !important;

}
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill !important;
    -webkit-animation-fill-mode: both !important;
}
.cadastrar{
    color: white !important;
}

mat-form-field{
    width: 100%;
}

mat-list-item{
    height: 55px !important;
}

